# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

#### Create a tuple with the first 10 positive integers. Print the tuple.

In [2]:
tuple_int = tuple(range(1,11))
print(tuple_int)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

#### Print the first, middle, and last elements of the tuple created in Assignment 1.

In [3]:
print(f"First element: {tuple_int[0]}")
print(f"Middle element: {tuple_int[len(tuple_int) // 2]}")
print(f"Last element: {tuple_int[-1]}")

First element: 1
Middle element: 6
Last element: 10

### Assignment 3: Tuple Slicing

#### Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [4]:
print(tuple_int[:3])
print(tuple_int[-3:])
print(tuple_int[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

### Assignment 4: Nested Tuples

#### Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [6]:
tuple_nested = (
    (1, 2, 3),
    (4, 5, 6),
    (7, 8, 9)
)

print(tuple_nested)
print(tuple_nested[1][2])  # Accessing the element at second row and third column

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

### Assignment 5: Tuple Concatenation

#### Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [7]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple_concat = tuple1 + tuple2
print(tuple_concat)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

#### Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [11]:
tuple3 = (1, 2, 3, 6, 6, 7, 8, 9, 7, 5, 7, 0, 7)
print(f"Count occurrences of 7 in tuple: {tuple3.count(7)}")  # Count occurrences of 7
print(f"Index of 7 when it occurs first time in tuple: {tuple3.index(7)}")  # Find index of first occurrence of 6

Count occurrences of 7 in tuple: 4
Index of 7 when it occurs first time in tuple: 5

### Assignment 7: Unpacking Tuples

#### Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [12]:
tuple4 = (1, 2, 3, 4, 5)
a, b, c, d, e = tuple4
print(f"Unpacked variables: {a}, {b}, {c}, {d}, {e}")

Unpacked variables: 1, 2, 3, 4, 5

### Assignment 8: Tuple Conversion

#### Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [15]:
list_first_five_int = [1,2,3,4,5]
tuple5 = tuple(list_first_five_int)
print(tuple5)
print(type(tuple5))

(1, 2, 3, 4, 5)
<class 'tuple'>

### Assignment 9: Tuple of Tuples

#### Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [16]:
tuple6 = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
tuple6

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

#### Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [17]:
tuple7 = (1,2,3,4,5)
list7 = list(tuple7)
list7.append(6)
tuple7 = tuple(list7)
print(tuple7)

(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

#### Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [19]:
tuple8 = ("Hi", "How", "are", "you", "?")
print(tuple8)
joined_string = " ".join(tuple8)
print(joined_string)

('Hi', 'How', 'are', 'you', '?')
Hi How are you ?

### Summary of `.join()` in Python

#### What `.join()` Does
- **Purpose:** Combines elements of an **iterable** (e.g., list, tuple, set, dictionary) into a single string.
- **Rule:** All elements must be **strings**.
- **Called on:** A string (used as the separator).

---

#### Examples

```python
# Joining a list
words = ["Python", "is", "fun"]
" ".join(words)  
# Output: "Python is fun"

# Joining a tuple
letters = ('H', 'i')
"".join(letters)  
# Output: "Hi"

# Joining a set
fruits = {"apple", "banana"}
", ".join(fruits)  
# Output: "banana, apple" (order may vary)

# Joining dictionary keys
data = {"name": "John", "age": "30"}
" & ".join(data)  
# Output: "name & age"

# Joining non-strings (convert first)
nums = [1, 2, 3]
"".join(str(n) for n in nums)  
# Output: "123"

### Assignment 12: Tuple and Dictionary

#### Create a dictionary with tuple keys and integer values. Print the dictionary.

In [20]:
tupl_dict = {
    ("a", "b"): 1,
    ("c", "d"): 2,
    ("e", "f"): 3
}
print(tupl_dict)

{('a', 'b'): 1, ('c', 'd'): 2, ('e', 'f'): 3}

### Assignment 13: Nested Tuple Iteration

#### Create a nested tuple and iterate over the elements, printing each element.

In [22]:
tuple6 = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for row in tuple6:
    for item in row:
        print(item)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

#### Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [24]:
tuple8 = (1,1,1,1,2,3,3,4,5,7,8,8,9,10)
print(tuple8)
set8 = set(tuple8)
print(set8)

(1, 1, 1, 1, 2, 3, 3, 4, 5, 7, 8, 8, 9, 10)
{1, 2, 3, 4, 5, 7, 8, 9, 10}

### Assignment 15: Tuple Functions

#### Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [26]:
def stat_function(tuple9):
    return f"Maximum from tuple {max(tuple9)}, Minimum from tuple: {min(tuple9)}, Sum of elements of the tuple: {sum(tuple9)}"

tuple9 = tuple(range(10))
print(stat_function(tuple9))

Maximum from tuple 9, Minimum from tuple: 0, Sum of elements of the tuple: 45