# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

#### Create a set with the first 10 positive integers. Print the set.

In [1]:
set1 = set(range(1,11))
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

#### Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [6]:
set1.add(11)
print(f"After adding 11 to the set1: {set1}")
set1.remove(1)
print(f"After removing 1 from the set1: {set1}")

After adding 11 to the set1: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
After removing 1 from the set1: {2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [ ]:
myset = {1, 2, 3}

# Using remove()
myset.remove(2)       # Works fine
print(myset)          # {1, 3}

# myset.remove(5)     # ‚ùå Raises KeyError because 5 is not in the set

# Using discard()
myset.discard(3)      # Works fine
print(myset)          # {1}

myset.discard(5)      # ‚úÖ No error, does nothing
print(myset)          # {1}

#### üí° Tip:

- Use remove() when you are sure the element exists.

- Use discard() when you‚Äôre not sure and don‚Äôt want errors.

### Assignment 3: Set Operations

#### Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [10]:
set1 = {1,2,3,4,5}
set2 = {2,4,6,8,10}
print(set1.union(set2))
print(set1.intersection(set2))
print(set1.difference(set2))
print(set1.symmetric_difference(set2))

#OR

print(set1 | set2)
print(set1 & set2)
#print(set1 - set2)
print(set1 ^ set2)

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

#### Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [11]:
set1 = set(range(1,11))
set2_sq = {x**2 for x in set1}
print(set2_sq)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

#### Create a new set containing only the even numbers from the set created in Assignment 4 using a set comprehension. Print the new set.

In [12]:
set2_sq_even = {x for x in set2_sq if x%2==0}
print(set2_sq_even)

{64, 100, 4, 36, 16}

### Assignment 6: Set Methods

#### Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [13]:
s = {1, 2, 2, 3, 4, 4, 5}
s

{1, 2, 3, 4, 5}

### Assignment 7: Subsets and Supersets

#### Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [15]:
a = {1,5,7,8}
b = {1,5,7,8,9,0}
print(a.issubset(b))
print(b.issuperset(a))

True
True

### Assignment 8: Frozenset

#### Create a frozenset with the first 5 positive integers. Print the frozenset.

In [16]:
frozenset1 = frozenset({1,2,3,4,5})
print(frozenset1)

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

#### Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [19]:
set1 = {1,2,3,4,5}
list1 = list(set1)
list1.append(6)
set1 = set(list1)
print(set1)

{1, 2, 3, 4, 5, 6}

### Assignment 10: Set and Dictionary

#### Create a dictionary with set keys and integer values. Print the dictionary.

In [22]:
dict1 = {
    frozenset({1,2}): 31,
    frozenset({4,5}): 61
}
print(dict1)

{frozenset({1, 2}): 31, frozenset({4, 5}): 61}

#### üí° Tip

- set ‚Üí mutable ‚Üí ‚ùå not usable as dict key

- frozenset ‚Üí immutable ‚Üí ‚úÖ usable as dict key

### Assignment 11: Iterating Over Sets

#### Create a set and iterate over the elements, printing each element.

In [23]:
set3 = {1,2,3,4,5}
for i in set3:
    print(i)

1
2
3
4
5

### Assignment 12: Removing Elements from Sets

#### Create a set and remove elements from it until it is empty. Print the set after each removal.

In [ ]:
set4 = {1, 2, 3, 4, 5}

while set4:  # loop runs as long as set4 is NOT empty
    set4.pop()  # removes and returns an arbitrary element from the set
    print(set4)

{2, 3, 4, 5}
{3, 4, 5}
{4, 5}
{5}
set()

#### Explanation:
1. while set4:

In Python, a set is considered True if it has elements.

The loop runs until set4 becomes empty.

Once set4 is empty, it becomes False, and the loop stops.

2. set4.pop()

Removes a random (arbitrary) element from the set ‚Äî sets are unordered, so you can‚Äôt control which one gets removed.

Returns the removed element (but you‚Äôre not storing it here).

3. print(set4)

Shows the set after removing an element.

### Assignment 13: Set Symmetric Difference Update

#### Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [30]:
set1 = {1,2,6,7}
set2 = {1,2,3,4}
set1.symmetric_difference_update(set2)
print(set1)

{3, 4, 6, 7}

In [32]:
set1.difference_update(set2)
print(set1)

{6, 7}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [33]:
set4 = {1,2,3}
print(4 in set4)

False

### Assignment 15: Set of Tuples

#### Create a set containing tuples, where each tuple contains two elements. Print the set.

In [34]:
set5 = {(1,2), (3,4), (4,5)}
print(set5)

{(4, 5), (1, 2), (3, 4)}